{% assign settings = site.data.settings %}
<div class="menulogo">
    <div class="image">
    <img src="http://sitesforchurch.s3.amazonaws.com/logo-3.png" alt="">
    </div><!--/image-->
</div><!--/menulogo-->
<div class="menucontactinfo">
    <h4>KONTAKT</h4>
    <div class="address">
        <p>{{ settings.address }} <br>
        {% if settings.address2 %} {{settings.address2}}<br> {% endif%}
      {{ settings.City }}, {{ settings.State }} {{ settings.Zip }}</p>
    </div><!--/address-->
    <div class="phone">
        <h5>Telefon</h5>
        <p>{{ settings.phone }}</p>
    </div><!--/phone-->
    <div class="email">
        <h5>E-Mail</h5>
        <p>{{ settings.church_email }}</p>
    </div><!--/email-->
</div><!--/menucontactinfo-->
<div class="menuservices">
    <h4>Termin</h4>

    {% assign sunday = site.data.settings.services | where: "day", "Sonntag" %}
    {% if sunday[0].when %}
    <h5>Sonntag</h5>
    <p>
    {% for service in sunday %}
      {{service.name}} - {{service.when}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign monday = site.data.settings.services | where: "day", "Montag" %}
    {% if monday[0].when %}
    <h5>Montag</h5>
    <p>
    {% for service in monday %}
      {{service.name}} - {{service.when}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign tuesday = site.data.settings.services | where: "day", "Dienstag" %}
    {% if tuesday[0].when %}
    <h5>Dienstag</h5>
    <p>
    {% for service in tuesday %}
      {{service.name}} - {{service.when}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign wednesday = site.data.settings.services | where: "day", "Mittwoch" %}
    {% if wednesday[0].when %}
    <h5>Mittwoch</h5>
    <p>
    {% for service in wednesday %}
      {{service.name}} - {{service.when}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign thursday = site.data.settings.services | where: "day", "Donnerstag" %}
    {% if thursday[0].when %}
    <h5>Donnerstag</h5>
    <p>
    {% for service in thursday %}
      {{service.name}} - {{service.when}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign friday = site.data.settings.services | where: "day", "Freitag" %}
    {% if friday[0].when %}
    <h5>Freitag</h5>
    <p>
    {% for service in friday %}
      {{service.name}} - {{service.when}} <br>
    {% endfor %}
    </p>
    {% endif %}
    {% assign saturday = site.data.settings.services | where: "day", "Samstag" %}
    {% if saturday[0].when %}
    <h5>Samstag</h5>
    <p>
    {% for service in saturday %}
      {{service.name}} - {{service.when}} <br>
    {% endfor %}
    </p>
    {% endif %}

</div><!--/menuservices-->
<ul class="side-menu">
  <li><a href="/about_us/leadership.html">Gemeindeleitung</a></li>
  <li><a href="/about_us/beliefs.html">Glauben</a></li>
  <li><a href="/about_us/gospel.html">Evangelium</a></li>
  <li><a href="/events.html">Kalender</a></li>
  <li class="has-submenu"><a href="#">Medien</a></li>
    <li class="sub"><a href="/media/sermons.html" target="blank">Predigten</a></li>
    <li class="sub"><a href="/media/blog-list.html">Blog</a></li> 
    <li class="sub"><a href="/media/gallery.html">Fotos</a></li>
</ul><!--/side-menu-->

